/Adler32.class
/CRC32.class
/Checksum.class
/Deflate$Config.class
/Deflate.class
/Deflater.class
/DeflaterOutputStream.class
/GZIPException.class
/GZIPHeader.class
/GZIPInputStream.class
/GZIPOutputStream.class
/InfBlocks.class
/InfCodes.class
/InfTree.class
/Inflate$Return.class
/Inflate.class
/Inflater.class
/InflaterInputStream.class
/JZlib$WrapperType.class
/JZlib.class
/StaticTree.class
/Tree.class
/ZInputStream.class
/ZOutputStream.class
/ZStream.class
/ZStreamException.class
